.input-Hero {
    display: inline-block;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color: #74CCF0;
    background-color: transparent;
    width: 80%;
    outline-style: none;
}   
    .input-Hero::placeholder {
        color: #CFEBF7;
    }

.input-Name {
    display: inline-block;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color: #D2D2D2;
    background-color: transparent;
    width: 47%;
    outline-style: none;
    float: left;
}
    .input-Name::placeholder {
        color: #D2D2D2;
    }
    .input-email {
        display: inline-block;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom-color: #D2D2D2;
        background-color: transparent;
        width: 47%;
        outline-style: none;
        float: right;
    }
        .input-email::placeholder {
            color: #D2D2D2;
        }
.input {
    display: inline-block;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-color:#D2D2D2;
    background-color: transparent;
    width: 100%;
    outline-style: none;
}    
