body {
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
    grid-template-areas:
        "HB HB HB HB HB"
        ". vid vid vid ."
        "bott bott bott bott bott";
}
.hero-background {
    grid-area: HB ;  
    display: grid;
    grid-template-columns: 3fr 600px 3fr; 
    grid-template-areas: 
        ". hero ."; 
}
.hero {
    grid-area: hero;
}
.vidurys {
    grid-area: vid;
}
.bottom-background{
    grid-area: bott;
}
@media (max-width: 720px) {
    body {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas:
            "HB HB  HB"
            ".  vid  ."
            "bott bott bott";
    }
    .hero-background {
        grid-area: HB ;  
        display: grid;
        grid-template-columns: 20px 1fr 20px; 
        grid-template-areas: 
            ". hero ."; 
        }
        .hero {
            grid-area: hero;
        }
        .kaire {
            width: 100%;
        }
        .desine{
            width: 100%;
        }
}
