.Hero-background {
    background-image: url(../img/background.png);
}
    .Hero {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        margin-top: 50px;
        text-align: center;
    }
        .logo{
            margin: 30px 0px 15px;
        }
        .main-title{
            display: inline-block;
            margin-bottom: 10px;
    }
    .vidurys {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
        .kaire {
            display: inline-block;
            width: 40%;
        }
            .title{
                display: inline-block;
                margin: 50px 0px 20px;
            }
            .paragraph{
                display: inline-block;
                margin-bottom: 25px;
            }
            .slider{
                display: inline-block;
                width: 100%;
            } 
        .desine {
            display: inline-block;
            width: 40%;
            float: right;
        }   
            .btn2 {
                float: right;
            }
.bottom-background {
    background-color: #03A9F4;
}            
    .apacia{
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
    text-align: center;
    }


@media ( max-width: 1200px ) {
    .container {
        width: 800px;
        margin: 100px calc(50% - 400px) 0;
    }
}

@media ( max-width: 900px ) {
    .container {
        width: 600px;
        margin: 50px calc(50% - 300px);
    }
        .left {
            width: 60%;
            margin: 0 20%;
        }
        .right {
            width: 100%;
            padding: 20px;
            margin-bottom: 50px;
        }
}

@media ( max-width: 700px ) {
    .container {
        width: 100%;
        margin: 50px 0;
    }
        .right {
            border: none;
        }
