.Hero-background{
    background-image: url(../img/background.png);
}
    .Hero {
        display: inline-block;
        width: 500px;
        margin-left: calc(50% - 250px);
        text-align: center;
    }
        .logo{
            margin: 30px 0px 15px;
        }
        .main-title{
            display: inline-block;
            margin-bottom: 10px;
        }
        .laikrodis{
            margin-top: 30px;
        }
        .input-Hero {
            margin: 20px 0px 10px;
        }
        .btn1 {
            margin: 15px 0px 10px;
        }
        .pele {
            margin-bottom: 20px;
        }
    .vidurys{
        display: inline-block;
        width: 900px;
        margin-left: calc(50% - 450px);
    }
        .kaire{
            display: inline-block;
            width: 40%;
        }   
            .title{
                display: inline-block;
                margin: 50px 0px 20px;
            }
            .paragraph{
                display: inline-block;
                margin-bottom: 25px;
            }
            .slider{
                display: inline-block;
                width: 100%;
            }
            .form-row {
                margin-top: 20px;
            } 
        .desine{
            display: inline-block;
            width: 40%;
            float: right;
        }   
            .forma2{
                margin-top: 90px;
            }
            .input-mid-half {
                margin-bottom: 20px;
            }
            .message {
                color:  #D2D2D2;
            }
            .btn2{
                display: inline-block;
                float: right;
                margin-top: 30px;
            }
.bottom-background{
    background-color: #03A9F4;
    margin-top: 80px;
}            
        .apacia{
        display: inline-block;
        width: 900px;
        margin-left: calc(50% - 450px);
        text-align: center;
        }
           .apacia > .icon-list {
                margin-top: 15px;
               }
               .apacia > .icon-list > .fa {
                   padding: 10px;
                   font-size: 10px;
                   color: white;
               }
            .logo2 {
                display: inline-block;
                width: 100%;
                padding: 20px;
                border-top: ridge #1FB2F5;
                border-left-color: transparent; 
                border-right: transparent;
                border-bottom: transparent;
            }  
            .copyright {
                font-size: 13px;
                font-weight: 500;
                display: inline-block;
                width: 75%;
                line-height: 30px;
                margin-bottom: 50px;
                color: white;
            }  

@media ( max-width: 960px ) {
    .Hero {
        width: 700px;
        margin: 0px calc(50% - 350px) 0;
    }
    .vidurys {
        width: 100%;
        margin: 0px;
    }
    .kaire {
        width: 80%;
        margin: 0 10%;
    }
    .desine {
        width: 80%;
        margin: 0 10%;
    }   
    .apacia {
        width: 700px;
        margin: 50px calc(50% - 350px) 0;
    }
    .bottom-background {
        width: 700px;
        margin: 0px calc(50% - 350px) 0
    }
}
@media (max-width: 710px) {
    .Hero {
        width: 100%;
        margin: 0;
        }
    .vidurys {
        width: 100%;
        margin: 0;
    }
    .kaire {
        width: 96%;
        margin: 0 2%;
    }
    .desine {
        width: 96%;
        margin: 0 2%;
    }   
    .apacia {
        width: 100%;
        margin: 0;
    }
    .bottom-background {
        width: 100%;
        margin: 0;
    }
}








