.progres-bar {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.progres-bar > .top {
    display: inline-block;
    width: 100%;
  }
    .progres-bar > .top > .pavadinimas {
      display: inline-block;
      float: left;
      }
    .progres-bar > .top > .reiksme {
      display: inline-block;
      float: right;
    }
  .progres-bar > .bar {
    display: inline-block;
    width: 100%;
    height: 10px;
    background-color: grey;
  }
  .progres-bar > .bar > .baro-reiksme {
      display: inline-block;
      width: 91%;
      height: 100%;
    }
    .progres-bar >.bar > .baro-reiksme > .loader {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #ff0000;
        animation-name: multikas;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }
@keyframes multikas {
  0% {   
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}